main, article {
  height: 100%;
  width: 100%;
}


.content-wrapper {
  display: flex;
}

.content {
  width: 50vw;
  height: 100%;
  /* background: var(--fg); */
}

@media only screen and (max-width: 768px){
  .content-wrapper {
    display: block;
  }
  
  .content {
    /* margin-left: 10vw; */
    width: 100%;
    margin-left: 100px;

    /* height: 40%; */

    /* background: var(--fg); */
  }
  /* section {
    max-width: 25%;
    
    padding-left: 20px;
  } */
  div.profile-desc {
    display: none;
  }
}

