.activity_item {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px rgb(60,54,79);
  overflow: hidden;
  padding: 16px;
}

.activity_item.clickable {
  margin-right: 0px;
}

.activity_item.clickable:hover {
  cursor: pointer;
  background: rgba(255,255,255,0.15);
  transition-property: "background";
  transition-duration: 0.25s;
}

/* a.activity_item:hover {
  
} */

.replies {
  padding-left: 24px;
  background: rgba(255,255,255,0.15);
}
.replies .activity_item{
  background: var(--fg);
}

.activity_main {
  padding: 0px;
}

.activity_item:last-child {
  border-bottom: none;
}

.activity_item .activity_actions {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 16px;
  padding-left: 20px;
}

.activity_item .activity_actions .action{
  box-sizing: border-box;
  width: 2em;
  /* flex-grow: 0.25; */
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
}

.activity_item .activity_actions .action .counter{
  color: rgba(255,255,255,0.8);
  font-weight: 800;
}

.activity_item .activity_actions .icon{
  height: 100%;
  /* width: 18px; */
  fill: #fff;
  width: 100%;

}

/* .activity_item .activity_actions .action:hover {
  background: rgba(149,0,255,0.2);
} */

.activity_item .activity_actions .action:hover .icon {
  fill: rgb(149,0,255);
  width: inherit;
}
/* 
.activity_item.expanded .activity_content {
  display: flex;
}
.activity_item.expanded .activity_content .activity_identity{
  flex-grow: 1;
} */
