section {
  flex-shrink: 1;
  width: 380px;
  padding: 16px;
}

section footer {
  display: flex;
  gap: 16px;
  padding: 12px;
}

section footer a {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
}

section footer a:hover {
  color: rgba(255,255,255,1);
}


@media only screen and (max-width: 768px) {
  /* Hide the Sidebar entirely on smaller screens - DON'T JUST DISPLAY NONE section AS THERE ARE OTHER SECTION ELEMENTS */
  section .suggested_users, section .trendings, section .search_field, section footer {
    display: none;
  }
  /* .trendings {
    width: fit-content;
    
  }
  .trendings span {
    font-size: 0.7em;
  }

  .suggested_users {
    width: fit-content;
    font-size: 0.7em;
  }
  .suggested_users .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .user .display_name {
    text-align: center;
    font-size: 0.6em;
    text-wrap: wrap;
  }

  

  footer {
    flex-direction: column;
    align-items: center;
  } */
}